.login-input{
  display: block;
  width: 30%;
  height: 30px;
  line-height: 30px;
  padding: 0.5em;
  font-size: 22px;
  border: none;
  outline: none;
  background: #e2e2e2;
  font-weight: 600;
  font-family: monospace;
  margin: 25px auto;
}